@import url('https://fonts.googleapis.com/css?family=Baloo+Da+2&display=swap');
.infoprofile{
    position: absolute;
    left:20%;
    height:70%;
    top:20%;
    background-image: url('backgrounds/whitetexture.jpeg');
    width: 60%;
    border-radius: 10%;
}
.titleinfo{
    position: relative;
    margin-top: 5%;
    text-align: center;
    font-size: 3vw;
    font-family: 'Baloo Da 2', sans-serif;
}
#editphoto{
    top: -4%;
    left: -5.5%;
}
.edit{
    margin-top: 0%;
    background-image: url('backgrounds/edit.png');
    background-size: 100% 100%;
    background-color: transparent;
    border: none;
    width:5%;
    height:20%;
    position:absolute;
    opacity:0.7;
    margin-bottom: 0%;
    margin-right: 0%;
}
#infodata{
    position: absolute;
    width: 40%;
    left: 30%;
    height: 40%;
    top: 25%;
}
#infoimg{
    position: absolute;
    width: 80%;
    left: 10%;
    height: 60%;
    top: 25%;
}
.check{
    background-image: url('backgrounds/check.png');
    background-size: 100% 100%;
    border: none;
    width:8%;
    height:10%;
    opacity:0.7;
    background-color: transparent;
}
.check:hover{
    opacity:0.8;
}
.exit{
    background-image: url('backgrounds/exit.png');
    background-size: 100% 100%;
    border: none;
    width:8%;
    height:10%;
    position:absolute;
    left:97%;
    background-color: transparent;
}
.exit:hover{
    width:10%;
    height:12%;
    left:95%;
}
.edit:hover{
    opacity:0.8;
}
#profileimg{
    width:20%;
    height: 40%;
    position:relative;
    margin-left:5%;
}
.editphoto{
    background-color:black;
    opacity: 1;
    position:absolute;
    left:35%;
    top:40%;
    width:30%;
    height:30%;
    font-family: 'Baloo Da 2', sans-serif;
    color: white;
    text-align: center;
    font-size: 2vw;
    border-radius: 10%;
    -webkit-box-shadow: 1px 10px 80px 6px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 10px 80px 6px rgba(0,0,0,0.75);
    box-shadow: 1px 10px 80px 6px rgba(0,0,0,0.75);
}
#file{
    margin-top:20%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    position: relative;
}
#checkpass{
    height: 20%;
    top: 20%;
    margin-bottom: 10%;
}
#progresscontainer{
    background-color: black;
    width: 80%;
    height: 10%;
    left: 8%;
    top: 20%;
    position: relative;
    padding: 2% 2% 2% 2%;
}
#progress{
    background-color: white;
    height: 100%;
    width: 0%;
}
#changeusername{
    position:relative;
    left:60%;
    height: 25%;
}
#changeemail{
    position:relative;
    left:60%;
    height: 50%;
}
.keydata{
    font-family: 'Baloo Da 2', sans-serif;
    font-weight: bolder;
    position: relative;
    left: 50%;
    font-size: 2vw;
    margin-top: 0%;
    margin-left: 0%;
    margin-bottom: 0%;
}
.valuedata{
    font-family: 'Baloo Da 2', sans-serif;
    position: relative;
    left: 50%;
    font-size: 1vw;
    margin-top: 5%;
    margin-left: 0%;
    margin-bottom: 5%;
}