@import url('https://fonts.googleapis.com/css?family=Baloo+Da+2&display=swap');
.upload{
    position: absolute;
    left: 25%;
    top: 25%;
    height: 50%;
    width: 50%;
    font-size: 2vw;
    font-family: 'Baloo Da 2', sans-serif;
}
#progresscontainer{
    background-color: black;
    width: 80%;
    height: 10%;
    left: 8%;
    top: 20%;
    padding: 2% 2% 2% 2%;
    margin-bottom: 5%;
}
#progress{
    background-color: white;
    height: 100%;
    width: 0%;
}